<!DOCTYPE html>
<html>
<head>
  <title>Connexion</title>
</head>
<body>
  <p>Vous êtes correctement connecté sur le nic <%= user.nichandle %>. Vous pouvez fermer cette fenêtre et commencer à lui poser des questions <a href="https://www.ovh.com/manager/web/index.html#/configuration">comme indiqué ici</a>.</p>
</body>
<script type="text/javascript">
  window.close();
</script>
</html>
